.filmi {
			padding: 20px;
			margin: -10px; 
			font-size: 0; 
		}

.film {
	display: inline-block;
	vertical-align: top;
	width: 200px;
	margin: 10px; 
	border: 1px solid #ccc;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0 2px 5px rgba(0,0,0,0.2);
	text-decoration: none;
	color: black;
	font-size: 12px; 
}

.film:hover {
	box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.film img {
	width: 100%;
	height: 300px;
	object-fit: cover;
}

.film .podatki {
	padding: 10px;
}

.film .podatki h3 {
	margin: 0 0 10px 0;
	font-size: 18px;
}

.film .podatki p {
	margin: 0;
	font-size: 14px;
}