.filmi {
	columns: 10; 
	column-gap: 20px;
	padding: 20px;
}

.film {
	width: 100%;
	margin-bottom: 20px;
	border: 1px solid #ccc;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	text-decoration: none;
	color: black;
	font-size: 14px;
	transition: box-shadow 0.3s;
	break-inside: avoid;
}

.film:hover {
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.film img {
	width: 100%;
	height: 300px;
	object-fit: cover;
}

.podatki {
	padding: 10px;
}

.podatki h3 {
	margin: 0 0 10px;
	font-size: 18px;
}

.podatki p {
	margin: 0;
	font-size: 14px;
}
